* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-width: 768px;
}

main .date_auteur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main figcaption {
    text-align: left;
}

main .date_auteur a {
    padding: 5px 20px;
    background-color: #000;
    color: #fff;
}